#map {
  bottom: 0px;
  height: 100%;
  left: 0px;
  position: absolute;
  right: 0px;
  z-index: -1; }

#pano {
  width: 200px;
  height: 200px; }

#infoWindowStyle {
  width: 400px;
  height: 400px; }
